<!DOCTYPE html>
<html ng-app="todoApp">
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    
    <link rel="stylesheet" href="dest/css/base.min.css">
    <script type="text/javascript" src="dest/js/jquery.min.js"></script>
    <script type="text/javascript" src="dest/js/angular.min.js"></script>
    <script type="text/javascript" src="src/js/app/app.js"></script>
  </head>

  <body>
    <!-- <h1>{{ 'Hello World!' }}</h1> -->

    <div class="container" ng-controller="mainController">
      <h1>A Simple Todo List App!</h1>

      <form role="form" ng-submit="addTodo(todo)">
            <input class="input-field" type="text" ng-model="todo" placeholder="What's on your todo list?" />
            <select ng-model="priority" ng-options="priority for priorities in [5,4,3,2,1]" title="Priority" required>
            <option value="">Priority</option>
          </select>
            <span>
              <input type="submit" value="Add"/>
            </span>
      </form>

      <hr>

      <div ui-sortable ng-model="todos">
          <p class="list-item" ng-repeat="todo in todos track by $index" >
            <input type="text" ng-model="todo" ng-class="{completed: todos.completed}"/>
            <span ng-model="priority">{{priority}}</span>
            <button ng-click="completeTodo(todo)" >&#10003;</button>
            <button ng-click="removeTodo($index)">X</button>
          </p>
      </div>
    </div>

  </body>

  <footer>
  </footer>

 </html>