@media screen and (max-width: 1280px) {
	body {
		background-size: auto;
	}
}

@media screen and (max-width: 1100px) {
	body .container {
		width: 70%;
	}
}

@media screen and (max-width: 640px) {
	body {
		.container {
			width: 90%;
			margin-top: 0;
			form {
				margin-bottom: 55px;
				select, .select-overlay {
					top: 39px;
					right: auto
				}
				input[type=submit] {
					top: 39px;
					right: auto;
					left: 105px;
				}
			}
		}
		.todo-list {
			width: 100%;
		}
		h1 {
			font-size: 1.5em;
			margin: 30px 15px;
		}

		footer {
			.expanded-footer {
				width: 100%;
			}
		}
	}
}
