@media screen and (max-width: 1280px) {
	body {
		background-size: auto;
	}
}

@media screen and (max-width: 1100px) {
	body .container {
		width: 70%;
	}
}

@media screen and (max-width: 640px) {
	body {
		.container {
			width: 90%;
			margin-top: 0;
			input[type=submit] {
				right: -7px;
			}
		}
		h1 {
			font-size: 1.5em;
			margin: 30px 15px;
		}
		.todo-list {
			width: 100%;
		}
	}
}