body {
	font-family: Helvetica, sans-serif;
	background-image: url('/images/clouds.jpg');
	h1 {
		font-size: 1.75em;
		color: white;
		text-align: center;
		margin: 50px;
	}
	p {
		font-size: 1em;
		color: $bodyColor;
	}
	form {
		position: relative;
		margin-bottom: 35px;
	}
	.container {
		width: 50%;
		max-width: 800px;
		margin: 0 auto;
		margin-top: 50px;
		padding: 5%;
		.input-field {
			width: 96%;
			font-family: Helvetica, sans-serif;
			padding: 10px;
			font-size: 18px;
			border: none;
			color: $bodyColor;
		}
		input[type=submit] {
			height: 41px;
			width: 70px;
			border-radius: 0;
			border: none;
			position: absolute;
			top: 0;
			right: 0px;
			color: white;
			font-size: 18px;
			&:hover {
				opacity: .8;
			}
		}
		select {
			position: absolute;
			top: 0;
			background: none;
			height: 41px;
			border-radius: 0%;
			border: none;
			background-color: #aaa;
			right: 70px;
			color: white;
			font-family: Helvetica, sans-serif;
			font-size: 18px;
		}
	}

	.completed {
		text-decoration: line-through;
	}
	.todo-list {
		width: 85%;
		margin: 0 auto;
		.input-field {
			background: none;
			color: white;
		}
		.list-item {
			padding: 5px 0; 
			cursor: move;
			position: relative;
			border-bottom: 1px dashed white;
			.controls {
				position: absolute;
				right: 3%;
				top: 15px;
				color: white;
			}
			i {
				margin-left: 15px;
				font-size: 20px;
				&:hover {
					cursor: pointer;
				}
			}
		}
	}
}