body {
	font-family: Helvetica, sans-serif;
	background-image: url('/images/clouds.jpg');
	background-size: cover;
	color: white;
	h1 {
		font-size: 1.75em;
		color: white;
		text-align: center;
		margin: 40px;
	}
	p {
		font-size: 1em;
		color: $bodyColor;
	}
	form {
		position: relative;
		margin-bottom: 35px;
	}
	.container {
		width: 50%;
		max-width: 800px;
		margin: 0 auto;
		padding: 5%;
		.input-field {
			width: 96%;
			font-family: Helvetica, sans-serif;
			padding: 10px;
			font-size: 18px;
			border: none;
			color: $bodyColor;
		}
		input[type=submit] {
			height: 41px;
			width: 70px;
			border-radius: 0;
			border: none;
			position: absolute;
			top: 0;
			right: 0px;
			color: white;
			font-size: 18px;
			// &:hover {
			// 	opacity: .8;
			// 	width: 70px;
			// }
		}
		.select-overlay {
			position: absolute;
			top: 0;
			right: 70px;
			z-index: 0;
			background-color: #aaa;
			color: #fff;
			font-family: Helvetica,sans-serif;
			padding: 10px 40px 10px 15px;
			font-size: 18px;
		  	&:after {
		  		@include triangle;
		  		top: 20px;
    			right: 15px;
		  	}
		}

		select {
			z-index: 1;
			opacity: 0;
			position: absolute;
			top: 0;
			height: 41px;
			width: 106px;
			background: 0 0;
			right: 70px;;
		}
	}

	.completed {
		text-decoration: line-through;
	}
	.todo-list {
		width: 85%;
		margin: 0 auto;
		margin-bottom: 100px;
		.input-field {
			background: none;
			color: white;
		}
		.list-item {
			padding: 5px 0; 
			cursor: move;
			position: relative;
			border-bottom: 1px dashed white;
			.controls {
				position: absolute;
				right: 3%;
				top: 15px;
				color: white;
			}
			i {
				margin-left: 15px;
				font-size: 20px;
				&:hover {
					cursor: pointer;
				}
			}
		}
	}
	.instructions {
		text-align: center;
		color: white;
		padding: 40px;
		a {
			border-bottom: 1px solid;
			cursor: pointer;
		}
	}
	// .info {
	// 	padding-left: 0;
	// 	list-style: none;
	// 	text-align: center;
	// 	margin-bottom: 25px;
	// 	margin-top: 50px;
	// 	li {
	// 		display: inline-block;
	// 		margin: 0 2%;
	// 		&:hover {
	// 			cursor: pointer;
	// 		}
	// 	}
	// 	a {
	// 		color: white;
	// 		text-decoration: none;
	// 		border-bottom: 1px solid;
	// 	}
	// }
	// .links {
	// 	position: relative;
	// }

	footer {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: white;
		opacity: 0.5;
		color: #444;
		text-align: center;
		padding: 20px;
		> a {
			border-bottom: 1px solid;
			&:hover {
				cursor: pointer;
			}
			&:after {
				@include triangle;
				top: 20px;
    			right: 15px;
    			border-color: #444 transparent transparent;
			}
		}
		.about-modal {
			position: relative;
			padding: 6%;
			line-height: 26px;
			background-color: white;
			opacity: 0.5;
			color: #444;
			width: 55%;
			margin: 0 auto;
			// &:before {
			// 	@include triangle;	
			// }
			.close {
				position: absolute;
				top: 10px;
				right: 15px;
				opacity: .8;
				&:hover {
					cursor: pointer;
				}
			}
		}
		ul {
			padding-left: 0;
			list-style: none;
			text-align: center;
			li {
				display: inline-block;
				padding: 0 10px;
				font-size: 28px;
				&:last-child {
					font-size: 24px;
				}
			}
			a {
				text-decoration: none;
				color: #444;
			}
		}


	}
}